*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 70px;
    /* width: 1500px; */
    background-color: coral;
    justify-content: space-between;
}

.flex{
    display: flex;
}

.header-nav{
    background-color: blue;
    height: 100%;
    width: 500px;
}
.jumbo-section{
    height: 500px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}
.jumbo-container{
    height: 85%;
    width: 700px;
    background-color: azure;
    margin-top: 5rem;
}