*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    /* min-width: 1500px; */
}

header{
    height: 60px;
    /* width: 100vw; */
    justify-content: space-between;
    
}
footer{
    background-color: black;
    color: white;
    height: 600px;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
}

.flex{
    display: flex;
}
.button{
    background-color: #0061fe;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
}
.container{
    max-width: 900px;
    border: 1px solid black; 
    margin: 0 auto;  
    margin-top: 10rem; 
}
.header-nav{
    /* height: 100%; */
    width: 40%;
    padding: 1rem; 
}
.h-nav-dx{
    text-align: end;
}
.header-nav li{
    font-weight: 300;
}
.header-nav li,
.header-nav img{
    display: inline;
    margin-right: 1rem;
    vertical-align: middle;
}

.main-title{
    height: 40%;
    width: 100%;    
}
.main-title h1{
    font-size: 4.3rem;
    font-weight: 700;
}
.paragraph-title {
    font-size: 2.3rem;
    margin-bottom: 25px;
}
.jumbo-section{
    height: 700px;
    background-color: #b4d0e7;
    justify-content: center;
    align-items: center; 
}
.jumbo-container{
    height: 85%;
    max-width: 1000px;
    margin-top: 4.5rem;
    position: relative;
}
.jumbo-description{
    position: absolute;
    bottom:0;
    left:0;
    height: 60%;
    width: 45%;
    font-size: 1.1rem;
}
.jumbo-description .button{
    margin: 25px 0;
}
.jumbo-img{
    position: absolute;
    bottom:0;
    right:0;
    height: 60%;
    width: 55%;
}
.jumbo-img img{
    width: 700px;
    height: 450px;
}
/* sezione della tabella */

.container-table-section{
    height: 1000px;   
}

.upper-section{
    width: 100%;
    height: 15%;
}

.radio-dx{
    margin-left: 2rem;
}
.table-container{
    justify-content: space-between;
    width: 100%;
    height: 65%;
    border: 1px solid red;

}
.service-column{
    width: 30%;
}
.bottom-table{
    margin-top: 3%;
    width: 100%;
    height: 18%;
    background-color: darkgoldenrod;
}

.header-card{
    width: 100%;
    height: 2rem;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 1rem;
}
.card-content{
    padding: 1rem;
}
.card-content h3{
    font-size: 1.5rem;
}
.caracteristics{
    margin-top: 3rem;
}
.caracteristics p,
.caracteristics .button{
    margin: 15px 0 15px 0;
}

/* terza sezione */

.guys-container{
    height: 500px;
}
.big-section-img{
    height: 100%;
    width: 60%;
    background-color: darkcyan;
}
.small-section{
    width: 40%;
    height: 100%;
    background-color: blue;
}
.activities-container{
    height: 800px;
}
.title{
    height: 10%;
}
.activities-section{
    width: 100%;
    height: 90%;
    background-color: darkgoldenrod;
    justify-content: space-between;
    flex-wrap: wrap;
}
.activities{
    height: 47.5%;
    width: 32%;
    border: 1px solid blue;
    margin-top: 1.1rem;
}
.half-card{
    height: 50%;
    width: 100%;
}
.img-activities{
    background-color: pink;
}
.activities-description{
    background-color: coral;
}

/* sezione sponsor  */

.big-container{
    margin-top: 10rem;
    /* width: 100vw; */
    height: 500px;
    background-color: #f5f5f5;
    justify-content: flex-start;
}
.sponsor-square{
    flex-wrap: wrap;
    width: 32vw;
    height: 100%;
    background-color: aqua;
    
}
.brand-central{
    width: 36vw;
}
.sponsor-card{
    height: 50%;
    width: 50%;
    border: 2px dotted red;
}
.bottom-claim{
    height: 300px;
    background-color: #b4d0e7;
}
/* footer */

.footer-container{
    width: 1000px;
    height: 70%;
    border: 1px solid white;
    justify-content: space-between;
    flex-wrap: wrap;
}
.column{
    border: 1px solid white;
    height: 70%;
    width: 180px;
    margin: 0.5rem;
    padding: 0.5rem;
}
