*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 70px;
    width: 100vw;
    background-color: coral;
    justify-content: space-between;
}

.flex{
    display: flex;
}
.container{
    width: 900px;
    border: 1px solid black; 
    margin: 0 auto;  
    margin-top: 10rem; 
    background-color: rgb(204, 161, 245);
}
.header-nav{
    background-color: blue;
    height: 100%;
    width: 30%;
}
.header-nav ul{
    list-style-type: none;
}
.header-nav li{
    display: inline;
    margin: 15px;

}

.jumbo-section{
    height: 700px;
    background-color: #b4d0e7;
    justify-content: center;
    align-items: center; 
}
.jumbo-container{
    height: 85%;
    width: 1000px;
    background-color: rgb(4, 165, 165);
    margin-top: 4.5rem;
    position: relative;
}
.jumbo-description{
    border: 1px solid black;
    position: absolute;
    bottom:0;
    left:0;
    height: 60%;
    width: 45%;
}
.jumbo-img{
    border: 1px solid black;
    position: absolute;
    bottom:0;
    right:0;
    height: 60%;
    width: 55%;
}
/* sezione della tabella */

.container-table-section{
    height: 1000px;   
}

.upper-section{
    width: 100%;
    height: 15%;
    background-color: chartreuse;
}
.table-container{
    justify-content: space-between;
    width: 100%;
    height: 65%;
    border: 1px solid red;

}
.service-option{
    background-color: darkgoldenrod;
    width: 30%;
}
.bottom-table{
    margin-top: 3%;
    width: 100%;
    height: 18%;
    background-color: darkgoldenrod;
}
.header-card{
    width: 100%;
    height: 2rem;
    border: 1px solid black;
}

/* terza sezione */

.guys-container{
    height: 500px;
}
.big-section-img{
    height: 100%;
    width: 60%;
    background-color: darkcyan;
}
.small-section{
    width: 40%;
    height: 100%;
    background-color: blue;
}
.activities-container{
    height: 800px;
}
.title{
    height: 10%;
}
.activities-section{
    width: 100%;
    height: 90%;
    background-color: darkgoldenrod;
    justify-content: space-between;
    flex-wrap: wrap;
}
.activities{
    height: 47.5%;
    width: 32%;
    border: 1px solid blue;
    margin-top: 1.1rem;
}
.half-card{
    height: 50%;
    width: 100%;
}
.img-activities{
    background-color: pink;
}
.activities-description{
    background-color: coral;
}

/* sezione sponsor  */

.big-container{
    margin-top: 10rem;
    width: 100vw;
    height: 500px;
    background-color: #f5f5f5;
    justify-content: flex-start;
}
.sponsor-square{
    flex-wrap: wrap;
    width: 32vw;
    height: 100%;
    background-color: aqua;
    border: 1px solid black;
}
.brand{
    height: 100%;
    width: 36vw;
}
.sponsor-card{
    height: 50%;
    width: 50%;
    border: 2px dotted red;
}
